body
{
    background-color: teal;
}
h1{
    color:white;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 0;
    margin: 0;
}
.assist{
    color: black;
    font-size: large;
    display: inline-block;
    font-family: 'Balsamiq Sans', cursive;
    background-color: rgb(255, 230, 0);


}
.product{
    border: 1px solid black;
    float: none;
    display: inline-block;
}
.container_24 img
{
    max-width: 200px;
}
.container_24
{
    background-color: white;
    height: 1000%;
}
.ProductName
{
    font-family: 'Josefin Sans', sans-serif;
}