body
{
    background-color: teal;
}
.Header{
    color:white;
    font-size: xx-large;
    background-color: black;
}
.assist{
    color: black;
    font-size: large;
    display: inline-block;
    font-family: 'Balsamiq Sans', cursive;

}
.product{
    border: 1px solid black;
    float: none;
    display: inline-block;
}
.container_24 img
{
    max-width: 200px;
}
.container_24
{
    background-color: white;
    height: 1000%;
}
.ProductName
{
    font-family: 'Josefin Sans', sans-serif;
}